<div style="color: black;text-decoration: none;">
  {{#content}}
    <small>
      {{{menuDt}}}
      <br>
      {{{restaurantNm}}}
    </small>
    <hr>
    <small>
      {{{breakfast}}}
      <br>
      {{{lunch}}}
      <br>
      <br>
      {{{dinner}}}
      <br>
      <br>
      {{{snackBar}}}
    </small>
  {{/content}}
</div>
