<div style="color: black;text-decoration: none;">
  {{#sorted}}
    <small>{{date}}</small>
    <hr>
    {{#results}}
      <div style="border: 1px solid {{color}};background: white;border-left-width: 8px;margin-bottom: 12px;padding: 8px 64px 8px 8px;"
           title="{{itemSourceId}}">
        <div>
          <a
            target="_blank"
            href="https://eclass2.ajou.ac.kr/webapps/calendar/launch/attempt/_blackboard.platform.gradebook2.GradableItem-{{itemSourceId}}">
            <small style="text-decoration: underline black;color: black;">{{title}}</small>
          </a><br>
          <small style="word-break: keep-all">마감일: {{endDate}}</small><br>
          <small style="word-break: keep-all">{{calendarNameLocalizable.rawValue}}</small>
        </div>
      </div>
    {{/results}}
    <br>
  {{/sorted}}
</div>
